<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Juego</title>
    <link rel="stylesheet" href="../styles/nuevo_juego.css">
</head>

<body>
    <header class="header">
        <h1>Crear juego</h1>
        <button onclick="window.location.href = '/ranking'">Volver al ranking</button>
    </header>
    <div class="container">
        <h1>Crear Juego : </h1>
        <form id="new-game">
            <label for="nombre-juego-nuevo">Nombre del nuevo juego:</label>
            <input type="text" id="nombre-juego-nuevo" name="nombre-juego" required>
            <button type="submit">Guardar Juego</button>
        </form>
    </div>
    <div class="container">
        <div class="container-content">
            <h1>Nuevo Juego</h1>
            <div class="form-container">
                <form id="game-form">
                    <label for="nombre-juego">Nombre del Juego:</label>
                  <span class="select-container-juego-normal"></span>
                    <!--<input type="text" id="nombre-juego" name="nombre-juego" required>-->
                    <button type="submit">Guardar Juego</button>
                </form>
            </div>
            <div class="container">
                <h2>Jugadores</h2>
                <div id="jugadores" class="sortable-list"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Por equipos</h1>
        <div>
            <label for="nombre-juego-equipo">Nombre del Juego:</label>
            <!--<input type="text" id="nombre-juego-equipo" name="nombre-juego" required>-->
            <span class="select-container-juego-equipo"></span>

        </div>
        <br>
        <div id="equipos-container">
            <!-- Contenedor para equipos -->
        </div>
        <button id="addEquipo">Añadir Equipo</button>
        <button id="save-juego-equipo">Guardar</button>
    </div>
    <script src="../scripts/sortable.js"></script>
    <script src="../scripts/nuevo_juego.js"></script>
    <br>

    <div class="container">
        <h1>Duelo</h1>
        <div class="form-container">
            <form id="duelo-form">
                <label for="nombre-duelo">Nombre del duelo:</label>
                <!--<input type="text" id="nombre-duelo" name="nombre-duelo" required>-->
                <span class="select-container-juego-duelo"></span>
                <button type="submit">Guardar duelo</button>
                <br><br>
                <label for="apuesta-duelo">Apuesta del duelo:</label>
                <input type="number" id="apuesta" name="apuesta" placeholder="Apuesta" required>
                <h3>
                    <input type="text" id="Ganador" name="Ganador" placeholder="Ganador" required>
                    VS
                    <input type="text" id="Perdedor" name="Perdedor" placeholder="Perdedor" required>
                </h3>
            </form>
        </div>

    </div>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>

</body>

</html>