<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otra Vista</title>
    <link rel="stylesheet" href="../styles/ranking.css">

</head>
<body>
    
    <div class="titulo-container">
        <h1>Título de Otra Vista</h1>
        <div class="botones-container">
            <button id="nuevo-juego-btn">Nuevo juego</button>
            <button id="ver-juegos-btn">Ver todos los juegos</button>
            <button id="download">Descargar datos</button>
        </div>
    </div>
    
    <div class="container">
        <div id="jugadores"></div>
    </div>



    <script src="../scripts/ranking.js"></script>
</body>
</html>
