<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
    <link rel="stylesheet" href="../styles/ver_juegos.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header class="header">
        <h1>Lista de Juegos</h1>
        <button onclick="window.location.href = '/ranking'">Volver al ranking</button>
    </header>
    <br>
    <div class="container-buscar">
        <form id="busqueda">
            <label for="juego-busqueda">Buscar por juego:</label>
            <span class="select-container-juego-normal"></span>
            <button id="buscar">Buscar</button>
            
        </form><br>
        <button id="mas_reciente">Ordenar antiguedad </button>
    </div>
    <div id="lista-juegos" class="container"></div>

    <script src="../scripts/ver_juegos.js"></script>
   

</body>

</html>