<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Duelos</title>
    <link rel="stylesheet" href="../styles/ver_juegos.css">
</head>
<body>
    <header class="header">
    <h1>Lista de Duelos</h1>
    <button onclick="window.location.href = '/ranking'">Volver al ranking</button>
</header>
    <br>
    <div class="container-buscar">
        <input type="text" id="buscar-jugador1" placeholder="Jugador 1">
        <input type="text" id="buscar-jugador2" placeholder="Jugador 2">
        <button id="buscar">Buscar</button>
    </div>
    <div id="lista-juegos" class="container"></div>

    <script src="../scripts/ver_duelos.js"></script>
</body>
</html>
