body{
  margin: 0px;
}


.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}

.container {
  padding: 16px;
  
}
.equipo{
  padding-bottom: 5px;
}
.borrar-equipo-btn{
 margin-left: 10px;
}
.posicion{
  margin-left: 10px;
}
.integrantes{
  margin-left: 10px;
}
