
.container {
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.card {
    display: flex;
    margin-bottom: 40px;
    border: 0px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    max-width: 400px; /* Ajusta el ancho máximo de la tarjeta según sea necesario */

}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.contenido {
    flex: 1;
    padding: 20px;
}

.contenido h2 {
    margin: 0;
    margin-bottom: 10px;
}

.contenido p {
    margin: 0;
}

.numero-posicion {
    font-size: 100px; /* Tamaño de fuente más grande */
    color: #ff0000; /* Color rojo */
    margin-right: 10px; /* Espacio entre el número y la imagen */
}

.titulo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el título y los botones */
}

.titulo-container h1 {
    margin: 0; /* Eliminar el margen predeterminado del h1 */
    padding-left: 450px;
}

.botones-container button {
    margin-left: 10px; /* Espacio entre los botones */
}


